In [1]:
# The following code to create a dataframe and remove duplicated rows is always executed and acts as a preamble for your script: 

# dataset = pandas.DataFrame(undefined)
# dataset = dataset.drop_duplicates()

# Paste or type your script code here:

#Found method to perform ANOVA Analysis at https://www.reneshbedre.com/blog/anova.html
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

marketing_ab = pd.read_csv("C:/Users/bjros/OneDrive/Desktop/Kaggle Data Sets/Marketing_A-B_Testing/marketing_AB.csv")
#Replace Spaces with "_" Character in Column Names
marketing_ab_1 = marketing_ab.rename(columns={'test group':'test_group', 'total ads':'total_ads'})

#Create a Summary Table
import scipy.stats as stats
# stats f_oneway functions takes the groups as input and returns ANOVA F and p value
#fvalue, pvalue = stats.f_oneway(marketing_ab.loc[marketing_ab['test group']=='ad']['total ads'], marketing_ab.loc[marketing_ab['test group']=='psa']['total ads'])
#print(fvalue, pvalue)

# get ANOVA table as R like output
import statsmodels.api as sm
from statsmodels.formula.api import ols

# Ordinary Least Squares (OLS) model
model = ols(formula='total_ads ~ test_group', data=marketing_ab_1).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

                  sum_sq        df        F    PR(>F)
test_group  8.744757e+01       1.0  0.04576  0.830613
Residual    1.123869e+09  588099.0      NaN       NaN

In [2]:
#Write the Table to a CSV File
anova_table.to_csv('marketing_AB_conversion_rate_vs_test_group.csv')

In [3]:
# The following code to create a dataframe and remove duplicated rows is always executed and acts as a preamble for your script: 

# dataset = pandas.DataFrame(undefined)
# dataset = dataset.drop_duplicates()

# Paste or type your script code here:

#Found method to perform Mood's Median Analysis at https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.median_test.html
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

marketing_ab = pd.read_csv("C:/Users/bjros/OneDrive/Desktop/Kaggle Data Sets/Marketing_A-B_Testing/marketing_AB.csv")
#Replace Spaces with "_" Character in Column Names
marketing_ab_1 = marketing_ab.rename(columns={'test group':'test_group', 'total ads':'total_ads'})

#Create a Summary Table
from scipy.stats import median_test
# stats f_oneway functions takes the groups as input and returns ANOVA F and p value
#fvalue, pvalue = stats.f_oneway(marketing_ab.loc[marketing_ab['test group']=='ad']['total ads'], marketing_ab.loc[marketing_ab['test group']=='psa']['total ads'])
#print(fvalue, pvalue)

# Mood's Median Analysis
res = median_test([marketing_ab.loc[(marketing_ab['converted value']==1) & (marketing_ab['test group']=='ad') & (marketing_ab['most ads day']=='Sunday')]['converted value'].count()/marketing_ab.loc[(marketing_ab['test group']=='ad') & (marketing_ab['most ads day']=='Sunday')]['converted value'].count()
                        , marketing_ab.loc[(marketing_ab['converted value']==1) & (marketing_ab['test group']=='ad') & (marketing_ab['most ads day']=='Monday')]['converted value'].count()/marketing_ab.loc[(marketing_ab['test group']=='ad') & (marketing_ab['most ads day']=='Monday')]['converted value'].count()
                        , marketing_ab.loc[(marketing_ab['converted value']==1) & (marketing_ab['test group']=='ad') & (marketing_ab['most ads day']=='Tuesday')]['converted value'].count()/marketing_ab.loc[(marketing_ab['test group']=='ad') & (marketing_ab['most ads day']=='Tuesday')]['converted value'].count()
                        , marketing_ab.loc[(marketing_ab['converted value']==1) & (marketing_ab['test group']=='ad') & (marketing_ab['most ads day']=='Wednesday')]['converted value'].count()/marketing_ab.loc[(marketing_ab['test group']=='ad') & (marketing_ab['most ads day']=='Wednesday')]['converted value'].count()
                        , marketing_ab.loc[(marketing_ab['converted value']==1) & (marketing_ab['test group']=='ad') & (marketing_ab['most ads day']=='Thursday')]['converted value'].count()/marketing_ab.loc[(marketing_ab['test group']=='ad') & (marketing_ab['most ads day']=='Thursday')]['converted value'].count()
                        , marketing_ab.loc[(marketing_ab['converted value']==1) & (marketing_ab['test group']=='ad') & (marketing_ab['most ads day']=='Friday')]['converted value'].count()/marketing_ab.loc[(marketing_ab['test group']=='ad') & (marketing_ab['most ads day']=='Friday')]['converted value'].count()
                        , marketing_ab.loc[(marketing_ab['converted value']==1) & (marketing_ab['test group']=='ad') & (marketing_ab['most ads day']=='Saturday')]['converted value'].count()/marketing_ab.loc[(marketing_ab['test group']=='ad') & (marketing_ab['most ads day']=='Saturday')]['converted value'].count()]
                          , [marketing_ab.loc[(marketing_ab['converted value']==1) & (marketing_ab['test group']=='psa') & (marketing_ab['most ads day']=='Sunday')]['converted value'].count()/marketing_ab.loc[(marketing_ab['test group']=='psa') & (marketing_ab['most ads day']=='Sunday')]['converted value'].count()
                             , marketing_ab.loc[(marketing_ab['converted value']==1) & (marketing_ab['test group']=='psa') & (marketing_ab['most ads day']=='Monday')]['converted value'].count()/marketing_ab.loc[(marketing_ab['test group']=='psa') & (marketing_ab['most ads day']=='Monday')]['converted value'].count()
                             , marketing_ab.loc[(marketing_ab['converted value']==1) & (marketing_ab['test group']=='psa') & (marketing_ab['most ads day']=='Tuesday')]['converted value'].count()/marketing_ab.loc[(marketing_ab['test group']=='psa') & (marketing_ab['most ads day']=='Tuesday')]['converted value'].count()
                             , marketing_ab.loc[(marketing_ab['converted value']==1) & (marketing_ab['test group']=='psa') & (marketing_ab['most ads day']=='Wednesday')]['converted value'].count()/marketing_ab.loc[(marketing_ab['test group']=='psa') & (marketing_ab['most ads day']=='Wednesday')]['converted value'].count()
                             , marketing_ab.loc[(marketing_ab['converted value']==1) & (marketing_ab['test group']=='psa') & (marketing_ab['most ads day']=='Thursday')]['converted value'].count()/marketing_ab.loc[(marketing_ab['test group']=='psa') & (marketing_ab['most ads day']=='Thursday')]['converted value'].count()
                             , marketing_ab.loc[(marketing_ab['converted value']==1) & (marketing_ab['test group']=='psa') & (marketing_ab['most ads day']=='Friday')]['converted value'].count()/marketing_ab.loc[(marketing_ab['test group']=='psa') & (marketing_ab['most ads day']=='Friday')]['converted value'].count()
                             , marketing_ab.loc[(marketing_ab['converted value']==1) & (marketing_ab['test group']=='psa') & (marketing_ab['most ads day']=='Saturday')]['converted value'].count()/marketing_ab.loc[(marketing_ab['test group']=='psa') & (marketing_ab['most ads day']=='Saturday')]['converted value'].count()
                            ])
res

(4.571428571428571,
 0.032509444645719456,
 0.02147185215423815,
 array([[6, 1],
        [1, 6]], dtype=int64))

In [4]:
#Print the Pearson's Chi Squared Test Statistic
res[0]

4.571428571428571

In [5]:
#Print the P-Value
res[1]

0.032509444645719456

In [6]:
#Print the Median
res[2]

0.02147185215423815

In [7]:
#Print the Contingency Table Showing Rows Above the Grand Median and Below the Grand Median
#Column 0 is Test Group 'ad', while Column 1 is Test Group 'psa'
res[3]

array([[6, 1],
       [1, 6]], dtype=int64)

In [11]:
#Create a DataFrame for Values
median_test_df = pd.DataFrame({'pearsons_chi_squared_statistic':res[0], 'p_value':res[1], 'median':res[2], 'contingency_table':list(res[3])})
median_test_df

   pearsons_chi_squared_statistic   p_value    median contingency_table
0                        4.571429  0.032509  0.021472            [6, 1]
1                        4.571429  0.032509  0.021472            [1, 6]

In [12]:
#Write to a CSV File
median_test_df.to_csv('marketing_AB_conversion_rate_vs_test_group_test_statistic.csv')